.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}


#themecolors .selector .cursor {
  cursor: pointer;
}

.img-avatar {
  height: 200px;
  width: 200px;
  display: block;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.img-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.w100 {
  width: 100px;
}

.avatar {
  border: 1px solid grey;
  width: 75px;
  border-radius: 100%;
  max-width: 50px;
  max-height: 50px;
}


.w140 {
  width: 140px;
}


/*fondo traslucido */
.fondo-modal-imagen {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.oculto{
  display: none;
}
